[2012-05-04 01:18] lfcipriani opened #7 "Is this gem really working?"
I tried to use it like the documentation says, after unsuccessful tries I went to check the code and I saw a lot of differences between docs and code.

The method Trello.publick_key not even exist.

[2012-05-04 01:24] #7 closed, assigned to nobody

[2012-11-02 01:57] kwiknik opened #19 "Upon using receive: Segmentation fault: 11"
Does this gem require an old version of Ruby?

I'm running MacRuby on Mac OS X (Lion). Upon running`test.rb` with key, secret and access key populated, specifying my username in the call to `Member.find` causes a `Segmentation fault: 11`.

Version info:

[code]

I'd be extremely grateful for any advice on this since I'm very eager to use this library!

Sincere thanks for your time.

[2012-11-02 03:02] #19 closed, assigned to nobody

[2012-12-01 11:49] jedi4ever opened #26 "thankyou ! + how to search for a board?"
Hi ,

I've just created a little trello <-> tasks sync tool for the devopsdays events.
https://github.com/jedi4ever/devopsdays-checklist

Thanks for the work, it would have taken me much longer to get it going without your library.

One thing I miss or haven't found is a way to search for a board, or to get all boards in an account.
Is that possible?

[2012-12-10 22:07] wadcom opened #28 "How to close a board?"
Hi,

what's the proper way to close a board? I can't seem to get it working by the following sequence:

board = Trello::Board::create({:name => 'Test Board'})
board.closed = true
board.update!

What's the proper way?

Thanks!

[2012-12-18 02:42] liangzan opened #29 "0.4.4.1 gem not found on RubyGems"
Hi,

v0.4.4.1 of the ruby trello gem is not publised on RubyGems. I got a dependency on addressable being >2.3. Do you mind publishing it? Thanks!

[2012-12-18 02:56] #29 closed, assigned to nobody

[2012-12-19 08:52] #26 closed, assigned to nobody

[2012-12-29 16:55] halfdan opened #34 "New release"
There hasn't been a release since February 2012. I think it is time to issue a new release so it can easily be installed via bundler. (without Git URL)

[2012-12-29 17:28] #34 closed, assigned to nobody

[2013-01-08 03:46] rossta opened #36 "Client is not thread-safe"
First off, thanks for all the hard work on the ruby-trello gem!

I'm working on an application in which I'd like to make requests on behalf of multiple Trello users. It's tricky, since the client is not currently thread-safe, as demonstrated in [this gist](https://gist.github.com/4480968).

Has there been discussion around this previously? I was thinking that Trello::Client and authorization crede

[2013-01-10 15:53] pgundlach opened #39 "Documentation help"
I've had a look at the file `ruby-trello/lib/trello.rb`  to find out the usage of the library, but I don't even get that far. Probably a stupid beginner's question, but could you include the necessary `gem` / `require` statements in the sample file to make this work?

This file

[code]

gives me:

[code]

[2013-01-10 17:46] #39 closed, assigned to nobody

[2013-01-27 02:21] #36 closed, assigned to nobody

[2013-02-01 16:46] #28 closed, assigned to nobody

[2013-04-01 18:46] asolkar opened #56 "3-legged oauth redirects to trello.com/oob instead of return_url"
I am attempting to implement 3-legged OAuth using `ruby-trello`. When I try to authorize my client, Trello auth always redirects to:

[code]

I expect this to go to my `oauth_callback` specified via the `return_url` instead.

Looking at the OAuth::Consumer Gem code for [`get_request_token`](https://github.com/oauth/oauth-ruby/blob/master/lib/oauth/consumer.rb#L124), it looks like method picks up `

[2013-04-01 20:29] #56 closed, assigned to nobody

[2013-08-05 15:57] jeremytregunna opened #62 "Add web hook support"
https://trello.com/docs/gettingstarted/webhooks.html

[2013-08-14 04:02] bf4 opened #64 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can image, scanning your repository for a LICENSE file or parsing the README

[2013-08-22 12:36] tkowark opened #67 "Client Authentication lost upon chaining requests"
The following code yields a "Trello has not been configured to make authorized requests" Error:

[code]

The data is loaded from Trello but the client is not properly set.

[code]

[2013-09-06 12:12] #67 closed, assigned to nobody

[2013-09-06 12:12] #64 closed, assigned to nobody

[2013-09-06 12:34] #62 closed, assigned to nobody

[2013-10-14 09:55] daewon opened #69 "how to use it!"

[2013-11-06 21:52] pipwilson opened #70 "Search for cards"
Hi, are there any plans to add support for the Search API https://trello.com/docs/api/search/index.html ?

Thanks for such a useful gem!

[2013-11-17 13:37] eyaleizenberg opened #71 "Updating an existing card's list doesn't work."
When you try to update an exiting card's list_id the update is not saved. The reason is that the field's name in the trello API is actually idList. If you manually change the hash which is being sent on card.rb (line 96) to: {:idList=>"123456789"}
It will work.

[2013-11-17 14:23] #71 closed, assigned to nobody

[2013-11-22 19:43] #70 closed, assigned to nobody

[2013-11-22 19:44] #69 closed, assigned to nobody

[2014-02-18 03:50] mriddle opened #80 "Values returned by optional parameters ignored"
The trello gem has the ability to provide additional parameters `Trello::Board.find(board_id, :members => "normal")` yet because the way the attributes are set the retrieved values are dropped.

https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/board.rb#L54-62

In this case I was expecting the members on the board to be populated, but instead when calling board.members I make a

[2014-03-11 22:14] ryanbrainard opened #82 "Add support for the identity endpoint"
It doesn't look like there is a way to get to the identity endpoint (i.e. the `identity` value returned from `/services/data/vX.XX`) to obtain the logged in user's info. I may turn this into a pull request, but if you beat me to it, here's the monkey patch I used to get around this which should give you an idea of what I'm getting at here:

[code]

This allows you to do things like:

[code]

[2014-03-11 22:39] #82 closed, assigned to nobody

[2014-03-15 15:32] larryprice opened #84 "NoMethodError - private method `pluralize' called for "member":String"
When executing Client::find() in a Sinatra app, I get the following error:

[code]

We fixed it by adding the following line to the file where we make this call:

[code]

I think this should be added to the `Client` class instead.

[2014-03-15 22:52] #84 closed, assigned to nobody

[2014-03-29 17:48] croaky opened #86 "Bump a 1.1.1 release?"
Howdy! I was just updating the Trello gem to 1.1.0 to use the new `member_ids` on `Trello::Card.create` in a Rails 4 app but ran into a conflict with the `active_model` dependency. Looks like that dependency [has been relaxed](https://github.com/jeremytregunna/ruby-trello/commit/e670a96f7f5e9dd819f3a9cc45868c8e8d9c6b7b) so I'm able to use the `github:` option in my Gemfile for now, but figured I'd

[2014-03-30 16:29] #86 closed, assigned to nobody

[2014-04-16 12:57] iwoogy opened #87 "Card description does not persist on create"
Hello,

My name is Bobby Nguyen, I start using your great library and in my test I encounter what it seems to be a bug.

When I call Card.create(:name => "test from ruby-trello", :description => "Just a desc", :list_id => '534e7afdc5f9cxxxa9a5767')
https://dl.dropboxusercontent.com/u/9154761/trello/2014-04-16_19-50-06.png

Then the card is created but with no description.
https://dl.dropboxusercon

[2014-04-17 03:22] #87 closed, assigned to nobody

[2014-04-26 19:45] maxim opened #88 "Changelog"
Would be great to have a useful list of changes, commits aren't enough.

[2014-05-01 18:03] machty opened #89 "What is member_token?"
I might just be an idiot but I have no idea what `member_token` is as referred to in the README and documentation, how to look it up, generate one, etc. Maybe this could be clarified in the README? Or maybe I'm foolish and just overlooked something obvious?

[2014-06-15 14:32] #89 closed, assigned to nobody

[2014-06-15 14:32] #88 closed, assigned to nobody

[2014-06-19 04:43] plexus opened #92 "Unable to update a list's position in the board"
`Trello::List` does have a `:pos` attribute, and `update_fields` is aware of it, but `create`, `save`, `update` all ignore it.

[2014-08-08 08:56] ssanan opened #95 "not add description on card"
Card.create(:name => name, :decription=>description, :list_id => listid)

This method only write name but descriptrion isn't there

[2014-08-27 01:20] fredxinfan opened #96 "I couldn't figure out how to add member to a board"
I was trying to use this gem add members into a board and then assign them to the cards. The code is as the following:
board = Trello::Board.find board_id
member = Trello::Member.find member_id
board.members << member
It returns an error says undefined method `concat' for #<Trello::MultiAssociation:0x007fdafc02b348>
I could add member to the board by using client.put("/boards/#{board.id}/members/#

[2014-09-01 11:58] NenadP opened #97 "Getting archived cards"
It seems when I pull trello cards from the board lists, it does not pull archived cards too ? Is there a way to get archived ones too ?

thanks

[2014-09-01 12:49] #95 closed, assigned to nobody

[2014-09-29 14:01] aspiers opened #99 "some methods missing proper API documentation"
Some of [the attributes registered in `Trello::Member`](https://github.com/jeremytregunna/ruby-trello/blob/836b867a95bd987a683fc4eb68e84d7159a634d0/lib/trello/member.rb#L4), such as `#initials`, `#avatar_id` etc., do not appear in the API docs.  The only way to discover some of them is to read the source.

[2014-10-18 20:02] joaodiogocosta opened #102 "Trello expects fields as url parameters and not as body (JSON) attributes"
I encountered this issue while trying to create a webhook using the following code:

[code]

And I get this `[400 POST https://api.trello.com/1/webhooks]: invalid value for idModel` everytime.

I found that Trello excepts those options as URL parameters and not as body (JSON) attributes, and I actually made it work writing the path by hand:

[code]

Any thoughts about this? Thanks

[2014-10-25 15:34] cowboygneox opened #104 "Caching of results"
Forgive me if this exists and I couldn't find it, but I think it would be awesome if an HTTP cache of some sort existed with the client so that we could traverse object relationships without making the same HTTP calls over and over.

Ex: I have a `card`, I would like to be able to call `card.actions` multiple times for various reasons, but the response of `actions` should be cached so that the HTT

[2014-11-24 17:26] spencerstark opened #105 "Trello updated their labels"
new labels: pink sky lime black

Label_name.rb needs to be updated to accommodate as well as card.rb

[2014-12-03 13:26] kevinchugh opened #106 "access to card comments?"
Hi, is this possible? I don't see any method or attribute for card comments.  Thanks for any info.

[2015-01-03 04:18] wireframe commented on #105
It would be great to support arbitrary label names offered by the API.  currently, card creation [only support a subset of the available colors](https://github.com/jeremytregunna/ruby-trello/blob/7626965931c67eec0c0230bfa87929f596bd95a1/lib/trello/card.rb#L216)

[2015-01-05 06:42] Anti-Fun commented on #97
Hey guys,

[As per the following lines of code] (https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/board.rb#L78-83)

You can specify a hash table with filter, here is a quick example:

[code]

IMO it makes sense to only retrieve active cards by default.

[2015-01-21 16:11] xjeline5 commented on #102
Me and @Venousek have looked into this issue as part of our school project and we can confirm that this behaviour is still present (under both Ruby 1.9.3 and 2.1.2).

We believe that problem regarding URL has been solved on Trello API side, because when code is run correctly (see below), the webhook is created ok using POST with atrributes sent in request body. We cannot confirm this as API source

[2015-01-22 00:52] omarps opened #116 "Capable of doing more complex queries."
At this point it's not possible to use more complex queries to reduce the number of requests and improve the overall performance.
Ex. In Javascript I can do this:
[code]
But in ruby-trello I'm limited to:
[code]
In this comparison I went down to boards, but this gets more complicated if I a want also the cards, checklists, and members details.

[2015-01-26 16:47] omarps opened #117 "Add thread capabilities for async requests."
Comparing with the Official Javascript Library, this gem is not async, so you can yo and wrap the requests in a Thread implementation (or even Fiber), but it would be nice, if the gem itself provides async methods to improve the performance.

[2015-02-18 18:44] viniciusoyama commented on #117
Hi @omarps . Are you talking about the node-trello?

I don't think that this is a good idea to bring something like that to this Gem. Node is a event-driven environment. And using threads could potentially increase the complexity of the Gem. Also it will only be helpful in worker jobs as in normal HTTP requests we usually don't have anything to postpone the response.

I think that the best approac

[2015-02-27 01:25] omarps commented on #117
Hi @viniciusoyama, I'm refering to the kind execution process that is made when you use the Trello's JavaScript API.

For example, you could launch a method to get some boards and in the callback method, start querying for the lists' cards.

I have a project that navigates thought the Board/List/Cards/Users hierarchy that works pretty well, but when I tried to migrate the logic to to a Rails Proje

[2015-03-04 16:39] ssaunier commented on #96
Facing the same exact problem. Should we add an `add_member` method to a board? Or is there a generic way to fix the `<<` approach?

[2015-03-24 16:36] Larusso commented on #106
You can post a comment with `add_comment text` to a card. It is possible to change this comment via the trello api, but this is not supported by the library so far.

[2015-03-24 16:36] Larusso commented on #92
#94 should have fixed that.

[2015-03-24 16:44] Larusso opened #129 "Access actions for cards, list, boards, etc"
One can access a list of actions (optional filtered) for cards, boards etc.
It would be super helpfull to implement that as well. The main problem is the different information stored in `Trello::Action`.
This is the payload for a `commentCard` action.
[code]

The imortant part is in the data field (`text`). Right now we lose this information because we only map the generic information from the pay

[2015-03-24 19:45] Larusso commented on #129
I just saw the `has_actions.rb` macro. There is still the issue with the different types though.

[2015-05-11 08:56] treeder opened #130 "How do you use search function?"
I get `undefined method` error.

Related pull: https://github.com/jeremytregunna/ruby-trello/pull/73

[2015-05-28 14:00] kevinchugh opened #131 "I get undefined method `config' for Trello:Module on config"
Have you ever seen this? I literally copy and paste your example and I get this.  Here's my code:

Trello.configure do |config|
        config.developer_public_key = TRELLO_API_KEY
        config.member_token = TRELLO_TOKEN
 end

[2015-05-29 00:33] Anti-Fun commented on #131
Replace the TRELLO_API_KEY and TRELLO_TOKEN with your API key. Or a better practise, is to store them in environment variables on the server.

[2015-06-10 14:37] kevinchugh commented on #131
This was an rvm issue, we can close this, thanks for your response.

[2015-09-09 20:31] jeremytregunna opened #141 "Taking a step back."
For a while now I've not been able to give this gem the attention it deserves. It was originally created for a tool that no longer lives, and I'm certainly not in the best position to drive the direction of the gem going forward. For those reasons, let me apologize to those of you who use this gem and have been frustrated with its maintenance.

So I'd like to talk about the direction of this gem.

[2015-09-09 20:50] christoshrousis commented on #141
Is it a matter of someone taking over, or is there a way to give access to multiple people so that it doesn't rely solely on yourself?

[2015-09-09 20:53] MrPowers commented on #141
The pull request hack might help: http://felixge.de/2013/03/11/the-pull-request-hack.html

This is a pretty popular gem and I think it will be easy for you to find contributors that can merge pull requests and add features :smile:

I use this gem in a bunch of apps and it works great.  I think the open source community can keep it awesome.

[2015-09-12 01:39] jeremytregunna commented on #141
@christoshrousis I'd prefer the latter than the former naturally.

[2015-09-12 01:41] jeremytregunna commented on #141
@MrPowers that's a really clever idea, and I think I like it.

[2015-09-12 01:52] christoshrousis commented on #141
Well yeh, I believe it's called being the Benevolent Dictator. Where a handful of people argue it over, and you're the last point of call for decision making. But ultimately you don't need to do anything because it never gets that far, and the major committers work it out among themselves.

[2015-09-14 21:23] ryanfelton commented on #131
I get this same message when including the `pivotal-tracker` gem. It seems to me the Trello configuration isn't namespace properly.

[2015-09-17 16:01] #131 closed

[2015-09-17 16:03] #92 closed

[2015-09-17 16:03] #96 closed

[2015-09-17 16:05] #97 closed

[2015-09-17 16:07] #105 closed

[2015-09-18 23:21] #141 closed

[2015-09-21 05:04] MrPowers commented on #141
@jeremytregunna - Did you come up with a conclusion / path forward?

[2015-09-21 05:48] jeremytregunna commented on #141
Yes. From now on whenever a new pull is accepted and merged, I'll add that person as a contributor to the repo.

[2015-09-28 10:54] gorenje opened #148 "Add extra attributes to Board and Attachment"
Hi,

I've added [last_activity_date](https://github.com/gorenje/ruby-trello/commit/57ec977aad03e6c7182fb123f2de020eb41b47d5) to Board and [previews](https://github.com/gorenje/ruby-trello/commit/ebe507fe482c90630f1bf113bd87402075a877e4) to Attachment, is there a realistic chance that this could be added to the gem?

Both are needed for our usecase of filling a Algolia search engine.

Cheers!

[2015-09-30 12:45] ksamc opened #150 "Memberships data missing on Organization"
Example is from: http://developers.trello.com/advanced-reference/organization
[code]

The data under the key **memberships** is not available from the organization model. This data is the only place you can find information on memberTypes.

[2015-09-30 15:14] iancanderson opened #151 "New gem version with CVE fix?"
Hi, I was hoping you could bump the version of the gem and push to rubygems so we could use an officially release version of the gem that has the rest-client CVE fix (see https://github.com/jeremytregunna/ruby-trello/pull/133).

Let me know if a PR would help to bump the actual version number in the repo.

[2015-09-30 17:14] hrogers-ezcater commented on #151
LGTM. Like the PR! jeremytregunna/ruby-trello/issues/151

[2015-09-30 23:09] joneslee85 commented on #151
cc @jeremytregunna

[2015-09-30 23:10] joneslee85 commented on #150
@ksamc can i close?

[2015-10-01 01:25] jeremytregunna commented on #151
@iancanderson Thank you for this poke, I'll get one out tonight.

[2015-10-01 01:28] jeremytregunna commented on #151
1.3.0 has been pushed out, tagged and master updated.

[2015-10-01 01:28] #151 closed

[2015-10-01 01:43] jeremytregunna commented on #148
@gorenje Absolutely, make a pull request!

[2015-10-01 01:43] jeremytregunna commented on #148
Closing this, as it's been answered, but looking forward to the pull request with your changes as a separate issue.

[2015-10-01 01:43] #148 closed

[2015-10-01 10:13] nielsvs opened #152 "Unable to update field(s) for card"
There seem to be some bugs in this library. the necessary parameters are not available on line 204 of client.rb, so it can't update, and it's actually trying to POST a new card because update! isn't being called.

Test case:
Trello::Card.find(trello_id).update_fields(:name => "test name updated").save

It returns an "invalid value for idList" error. I can find the card with the corresponding 'trel

[2015-10-01 11:20] ksamc commented on #150
@joneslee85, no not yet. :) This hasn't been implemented yet.

[2015-10-01 14:09] iancanderson commented on #151
thanks!

[2015-10-02 22:33] joneslee85 commented on #152
@nielsvs would you be able to submit a PR having this failed spec?

[2015-10-02 22:34] joneslee85 commented on #150
@ksamc would you be able to take care of this issue? I'd rather having it tackled asap rather leaving it stagnating.

[2015-10-02 22:36] joneslee85 commented on #106
So is there anyone up for this PR? I could provide mentorship if needed

[2015-10-03 20:17] Larusso commented on #106
I have no time the next weeks.

[2015-10-05 02:06] larryprice commented on #99
Looks like they're documented now: http://www.rubydoc.info/gems/ruby-trello/Trello/Member. Can you see them now?

[2015-10-05 09:05] aspiers commented on #99
Thanks - I can now see them, which is an improvement, but they're still not documented.  Attributes such as `bio` and `full_name` are maybe too obvious to need documentation, but `avatar_id` is a bit less obvious (i.e. how do you use it once you have it?)

[2015-10-05 15:02] ksamc commented on #150
@joneslee85 How should I go about this issue? Should memberships be a separate object?

Memberships is basically the object between **organizations** and **members**. It is a has_many through **memberships** association.

[2015-10-06 09:21] nielsvs commented on #152
@joneslee85  PR as in private repository or PR as in pull request?

[2015-10-06 22:48] joneslee85 commented on #152
@nielsvs Pull Requests please

[2015-10-09 16:11] ksamc commented on #150
@joneslee85 This PR fixes the issue of not being able to retrieve the data but is not maybe the best solution.

[2015-10-10 00:00] #150 closed

[2015-10-19 15:15] PeEllAvaj opened #159 "Trello is making a small modification to the checklist API"
Trello has an upcoming breaking change to the API that will mean that all checklists MUST have a idCard at creation, and this idCard cannot be changed later (no moving of Checklists). This change is to prevent the creation of orphaned checklists, which has started to become a problem for several use cases.

I'd love to work with you to get this resolved ASAP in the library before this change goes

[2015-10-20 03:48] joneslee85 commented on #159
@PeEllAvaj please give it a go, if you need any help, just reply to this issue

[2015-10-21 21:01] krazerxz opened #160 "All calls on member result in: 'can't convert Trello::AssociationProxy to Array (Trello::AssociationProxy#to_ary gives Trello::MultiAssociation)'"
Having trouble getting any methods on a member to return anything using basic auth.

[code]

calling member.cards, member.boards or member.organizations all give the error:

[code]

Feels like I'm just doing something very stupid.
Thanks for any help.

[2015-10-27 23:13] rossta commented on #104
I like this concept, but might consider it an extension, rather than built-in to the gem itself. Switching to and http client like Faraday offers the possibility for library to allow gem users to modify the request/response cycle through middleware. Gems like [ocktokit](https://github.com/octokit/octokit.rb) and [github](https://github.com/peter-murach/github) use this approach; anyone using these

[2015-10-28 10:59] joneslee85 commented on #159
ping

[2015-10-28 13:07] PeEllAvaj commented on #159
https://github.com/jeremytregunna/ruby-trello/pull/161 makes it so that you can create a checklist with a cardID (which you must do).  The only thing left would be to remove the boardId from the `post` and the `create` method

[2015-10-28 15:35] jeremytregunna commented on #104
:+1: to that idea.

[2015-10-29 11:18] cowboygneox commented on #104
I (obviously) think this should be a feature in the gem. The accessibility of this gem would be greatly benefitted from it. Granted, it can be a difficult task to have full caching, but even if there was an option to enable it for GET requests, that would dramatically improve its speed.

Also, I could just do a better job of keeping the objects I want in memory, so as I write this, I'm seeing that

[2015-11-03 22:51] jeremytregunna commented on #152
@nielsvs Is this still a problem for you using the master branch? Please advise. If not, I'll push out a release.

[2015-11-03 22:53] jeremytregunna commented on #129
@Larusso Would you have any ideas on what would be a good way to handle this?

[2015-11-03 22:54] jeremytregunna commented on #117
Anyone have any ideas on how to realize this w/o breaking how the API currently works too much? If there are some good ideas here, I'd love to consider them for 2.0.

[2015-11-06 20:26] viniciusoyama commented on #117
Hey @jeremytregunna can you help me with some scenarios?

With the current API, if I want to make async operations I have to open threads:

[code]

For 2.0 you want something like this:

[code]

Is that it? Sorry I'm trying to understand what you guys want in order to help.

[2015-11-10 08:24] nielsvs commented on #152
@jeremytregunna yes, it's still a problem for me using the master branch.

[2015-11-10 20:36] qpowell commented on #159
@PeEllAvaj any word on this? Currently unable to create checklists due to the idCard value not being passed.

[2015-12-07 13:30] rmangino opened #167 "Unable to obtain public key"
I am unable to obtain my public key using the directions listed in the README.md.

[code]

[2015-12-07 19:17] rossta commented on #167
@rmangino Sorry you're having trouble. The setup code in the README hasn't been published in a release yet. I'd expect there to be a `1.4` release soon which will include that method.

You can try installing from edge, either by cloning the repo or using `github: 'jeremytredgunna/ruby-trello` option in your `Gemfile` if you're using one.

Otherwise, here are the non-automated steps:

1. Visit: htt

[2015-12-07 22:56] jeremytregunna commented on #159
@PeEllAvaj Is anything left to be done on this? It's the only thing holding back a new release that should be go out soon.

[2015-12-08 10:00] hakunin opened #168 "Thread safe features documentation"
Hi,
I want to create a Trello import and for that I need to list user's boards and their cards.

But, how do I event list the boards? Readme doesn't say and there seems to be zero documentation on how to use `find_many`, which seems to be only suitable for internal use by the gem itself.

[2015-12-08 12:15] joneslee85 commented on #168
The README is not meant to be the source of all API references.

API in fact is documented in https://github.com/jeremytregunna/ruby-trello/blob/46f243acedb227ce5c398cf8d1427a2aa8cf8075/doc/table_of_contents.html#L361

Please consult `doc/` folder. If it is not there, I tend to look for the spec of the class. If the spec does not cover the method, you can make a PR and improve the doc and test cov

[2015-12-08 12:15] #168 closed

[2015-12-08 13:03] hakunin commented on #168
I've been through the gem's code and the documentation too and its not documented as far as I can tell.

The method you referenced isn't documented (doesn't have an example, doesn't explain what it does)
http://www.rubydoc.info/gems/ruby-trello/Trello/Client#find_many-instance_method

The best way to work with this gem thread-safely is to use this:

[code]

[2015-12-08 13:29] rmangino commented on #167
Awesome - thank you @rossta!

[2015-12-08 13:29] #167 closed

[2015-12-08 19:22] rossta commented on #168
@hakunin When working with separate `client` objects, you just need to pass the resource name as the first argument in your initial request, e.g. `client.find(:members, 'me')`. The client that makes the initial request will be assigned as the internal client of return object(s). I think you can eliminate a few steps in your example.

Compare:

[code]

with

[code]

In most cases, I don't believe y

[2015-12-08 23:31] PeEllAvaj commented on #159
@jeremytregunna I'm not 100% sure because I don't have a code sample to test the library with, but reviewing the changes to the checklist.rb file makes it look like that should work. We formally deprecated this route about a month ago, so if it's working today, it's going to keep working.

[2015-12-09 06:50] hakunin commented on #168
Thanks!

On Tue, Dec 8, 2015 at 8:22 PM Ross Kaffenberger <notifications@github.com>
wrote:

--
S pozdravem, Regards
Michal Hantl

skype id: michal.hantl
cell phone: +420 720 737 902

[2015-12-15 09:07] hakunin commented on #160
Not sure whats the problem there, but I am having success with:

[code]

and then I access cards via boards

[2015-12-15 09:12] hakunin commented on #150
Thanks, this is very useful!

[2015-12-15 09:16] hakunin opened #170 "Memberships data on member"
A common problem when you want to import data from trello is to only access the organizations that you actually own.

Right now, I can ask each organization for its memberships, but I can't see mine. It would be helpful to either

1) Support it
2) Have lower level access to things that the trello API has if they're not supported yet - something like member.api('memberhsips')?

[2015-12-16 07:04] joneslee85 commented on #160
@krazerxz i am going to close this ticket because it has been too long without reply. Feel free to re-open it if it you have not yet resolved it

[2015-12-16 07:04] #160 closed

[2015-12-17 13:21] #170 closed

[2015-12-17 13:25] hakunin commented on #104
I think it could be safely enabled in a client if you give it something like `cache: true, expire_in: 1.minute`. I really want to be able to just add a line somewhere and get the functionality. Its fiddly enough trying to make less requests already.

[2015-12-23 04:42] #159 closed

[2015-12-23 17:38] thoraxe opened #171 "complicated nested finds"
I'm building a report using the Trello gem, which is totally awesome! I am trying to find cards in lists that have particular labels, and am having a bear of a time figuring it out. I have lists that are called "sprint" (like agile) and then some cards in those lists have the "project" label.

Finding the sprints is pretty easy:

[code]

And I will iterate over each list and then try to find its c

[2015-12-28 22:04] jhulford opened #172 "Card#save uses incorrect API attribute for labels"
the attribute "label" inside Card#save should be idLabels.

[2016-01-01 06:26] #172 closed

[2016-01-05 08:59] hakunin opened #175 "How to do pagination?"
Hi,
is there a way to paginate over results and hook into the pagination process?

One of the boards I am importing seems to be overflowing my app's memory limit, so I want to make sure I don't load all the cards at once.

Thanks!

[2016-01-06 01:15] rossta commented on #175
Have you tried using [params supported for the card endpoint](https://developers.trello.com/advanced-reference/board#get-1-boards-board-id-cards) like `board.cards(limit: 50)`?

[2016-01-06 06:24] hakunin commented on #175
Hi, I know there is a `limit` param, but how do I grab the next page and more importantly, does the gem paginete for me or not?

I tried going straight to the api using the `since` attribute and supplied last card's last update at attribute to it, but the API didn't return anything.

[2016-01-10 05:30] wayferer opened #176 "'description' should be 'desc'?"
I was looking at https://github.com/jeremytregunna/ruby-trello/blob/master/test.rb#L27 to see how to do a query and I had to change 'description' to 'desc' for the string to show in Trello.

[2016-01-20 21:02] wayferer opened #177 "Adding Due Date"
Just in case it helps others. I was unable to add a due date to a card when creating. This is what I used to be able to add a due date:

[code]

[2016-01-25 14:42] hakunin opened #178 "Retry on Trello::Error"
Hi, I've go to the point where I run into Trello::Error's for rate limits frequently and now I have to put every single call into some sort of retry block.

It would be nice if there was something that I could just plug into the gem itself (around filter is all I need).

If the gem had around filter for calls, it would be extremely easy to do both:

1) api call caching
2) user defined automatic re

[2016-01-26 09:12] hakunin commented on #175
@rossta Does the gem paginate for me if I do for instance `board.cards`?

[2016-01-26 14:37] hakunin commented on #175
Would really appreciate advice on how to do pagination with trello if you have any :)
http://stackoverflow.com/questions/34612933/how-to-paginate-trello-api-response

[2016-01-31 19:36] chug2k commented on #130
`Trello::Action.search` will do the trick. Sorry I am eight months in the future.

[2016-02-11 06:00] gs-shahid opened #179 "Trello::Error: invalid token using Trello.configure"
I authenticated a user and got oauth key and secret, then created a client using `Trello::Client.new` and tried `client.find(:board, 'BOARDID') `  THIS WORKED

[code]
BUT Below method did NOT WORKED

I wanted to get list of all boards, I tried `Trello::Board.all` which raised Trello::Error: invalid token

[code]

[2016-02-11 06:23] gs-shahid commented on #179
My mistake: problem was 'comma' in configure block, It was returning an array of values which caused the issue, I inspected Trello.client and noticed that key was not correctly assigned.

[code]

This fixed my problem, configure without any comma at the end.

[code]

[2016-02-11 06:23] #179 closed

[2016-04-14 01:43] #177 closed

[2016-04-14 01:47] #130 closed

[2016-04-15 21:03] kexline4710 opened #185 "Empty response body on non-success response"
I've got a cronjob using the ruby-trello gem to pull GitHub issues and create Trello cards, but I frequently encounter a `Trello::Error` with no error message when attempting to fetch a list. I can see [here][body] that the library uses the response body for the error message, but do you know of any cases where a response would return a blank response body from Trello? There was no information in

[2016-04-15 22:13] rossta commented on #185
@kexline4710 I haven't seen that myself. Can you get a stacktrace? Do you see any output from the previous line to the `Trello.logger` in your logs?

[2016-04-17 15:52] kexline4710 commented on #185
Yeah, here is the stacktrace that I'm looking at:
[code]

[2016-04-21 17:13] codyolsen commented on #185
@kexline4710 I have a couple questions:

1. How often is the script running?
2. Are you running multiple threads or calling the API at the same time using another script or process?

Your stacktrace helps but, as @rossta mentioned, there is a [`Trello.logger` call](https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/client.rb#L98) right before the exception raise in the `invoke_ve

[2016-04-29 18:59] codyolsen opened #187 "Travis Builds Failing"
[Travis Builds](https://travis-ci.org/jeremytregunna/ruby-trello/builds) have been failing for a few version combinations for the last several commits. Note that several version combinations are still passing.

[From Build Results:](https://travis-ci.org/jeremytregunna/ruby-trello/jobs/126490879#L202-L207)
[code]

[2016-05-02 17:45] #185 closed

[2016-05-03 06:58] ksamc opened #188 "Dependency resolution failure on Rails 5 beta 4"
When trying to install the gem on a new Rails 5 beta 4 app I get the following dependency resolution failure message from Bundler:

[code]

The dependency has been fixed in master: https://github.com/rest-client/rest-client/commit/d401bba5285fe426568414b1ca0d16d22c17a975

I guess we have to wait for a release there first. In the meantime I'll just use mime-types v2.99.1.

[2016-05-03 17:38] codyolsen commented on #187
Update: [Builds on my fork synced with upstream are all passing.](https://travis-ci.org/codyolsen/ruby-trello/builds/127574140)

After comparing build logs it seems the newer builds are using an updated version of bundler. [Based on this issue](https://github.com/bundler/bundler/issues/3558) I think it is in fact a bundler problem. I'm looking at possible solutions to reset/update the bundle versi

[2016-05-03 18:17] codyolsen commented on #187
Fixed: [Pull Request 189](https://github.com/jeremytregunna/ruby-trello/pull/189)

[2016-05-03 18:17] #187 closed

[2016-05-05 08:18] njt1982 commented on #106
I dont believe the API supports getting comments on a card (cant see a relevant API endpoint https://developers.trello.com/advanced-reference/card#).

You **can** get actions (Trello:Card.find(x).actions). In the actions, you have the addComment type (as well as a few other relevant ones). So you could build your own list from that.

[2016-05-09 10:39] Haziba opened #192 "Should calling Save on a Trello Client also run create?"
Trying to create a new webhook using a client with this line:

`trello.create(:webhook, callback_url: my_hook.url, id_model: my_hook.id_model)`

This is not creating a new hook, however, as it is erroring since the callback_url and id_model aren't being set on the new webhook that gets created

The way I eventually had to go about creating a webhook is like this:

`trello.create(:webhook, "callbac

[2016-05-10 22:01] jeremytregunna commented on #188
Just pushed 1.4.2 up which should resolve this problem. Closing, but will reopen if you're still seeing the problem.

[2016-05-10 22:01] #188 closed

[2016-05-16 14:59] dobbymoodge opened #193 "TInternet should bubble up some exceptions"
https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/net.rb#L22

If the request fails due to a timeout, the `RestClient::RequestTimeout` exception should be handled by the caller, right? Maybe this should only return a `Response` if `!e.http_code.nil?`

[2016-05-17 04:01] joneslee85 commented on #193
@dobbymoodge what about returning `408 Request Timeout` response instead?

[2016-05-17 04:02] joneslee85 commented on #176
Fixed in https://github.com/jeremytregunna/ruby-trello/pull/194

[2016-05-17 04:02] #176 closed

[2016-05-17 04:03] joneslee85 commented on #99
It's been quite a long time since the last reply and no action were made. I close the ticket for now, feel free to re-open it.

[2016-05-17 04:03] #99 closed

[2016-05-17 04:04] joneslee85 commented on #80
It's been quite a long time since the last reply and no action were made. I close the ticket for now, feel free to re-open it.

[2016-05-17 04:04] #80 closed

[2016-05-17 14:19] dobbymoodge commented on #193
@joneslee85 That would be misleading - that response is sent by a server when it has accepted a connection, but the client has sent no request, or only a partial request, within some timeout threshold. The request may have failed because of a socket timeout.

Unfortunately, older versions of rest-client bundle both cases under the same `RequestTimeout` exception, though this has been addressed in

[2016-05-18 03:22] joneslee85 commented on #193
@dobbymoodge 👍 would you be able to send us a PR? TIA

[2016-05-18 20:31] andrewkress commented on #106
You can get the card comments with this call:
https://api.trello.com/1/cards/[card id or shortlink]/actions?filter=commentCard

[2016-05-19 11:11] dobbymoodge commented on #193
I've got a working patch, just need to update the appropriate test(s)
On May 17, 2016 11:22 PM, "Trung Lê" <notifications@github.com> wrote:

[2016-05-22 09:33] ksamc commented on #188
@jeremytregunna thanks!

[2016-06-09 00:46] #193 closed

[2016-06-15 19:05] dobbymoodge opened #199 "`Trello::Card#labels` should use `Card.attributes['card_labels']` instead of an API call"
`/1/cards/[id]` includes the label data structure in the returned fields by default. Calling `some_card.labels` triggers a GET against `/1/cards/[id]/labels` instead of just returning the data structure that's already in the `Card` object.

- If `Trello::Card#card_labels` is non-nil, `Trello::Card#labels` should return an array of `Trello::Label` for each entry in `Trello::Card#card_labels`
- If `

[2016-06-15 23:27] joneslee85 commented on #199
@dobbymoodge would you be able to cook a PR?

[2016-06-17 11:05] pvin opened #200 "How i get member details"
[code]
After this how to get member details /  list of boards from members from @client_alice??
Any help here?

[2016-06-20 06:23] joneslee85 commented on #200
Please ask for help on chat room or put it on StackOverflow instead. The issue here is only for bug reporting and feature discussion.

[2016-06-20 06:23] #200 closed

[2016-06-30 18:41] #199 closed

[2016-07-01 05:50] joneslee85 commented on #152
@nielsvs it seems to be very out of date this issue, can you please advise if it is resolved or not? if not, would you be able to submit a patch?

[2016-07-04 18:47] brycemcd opened #202 "Add Card Voting to Gem"
On trello, a user can upvote a card ( [API definition](https://developers.trello.com/advanced-reference/card#post-1-cards-card-id-or-shortlink-membersvoted) ) . This functionality appears to be missing from this gem.

In a hobby project I work on, I wound up implementing the functionality and it was pretty straightforward for my use case.

Would there be any interest to include official support fo

[2016-07-05 05:11] joneslee85 commented on #202
@brycemcd sure please, as long as it is standard from Trello.

[2016-07-07 01:16] brycemcd commented on #202
Great. It _is_ a standard feature.

It will probably take me a few days (maybe a couple of weeks) to get to it a pull request. As far as I can tell, the relevant API endpoints in Trello are:

1. GET members voted for a card (docs here: https://developers.trello.com/advanced-reference/card#get-1-cards-card-id-or-shortlink-membersvoted)
2. POST members voted (docs here: https://developers.trello.com

[2016-07-07 02:31] joneslee85 commented on #202
👍 sound right to me, go for it 👏

[2016-07-08 16:10] mockdeep opened #203 "Ability to mark checklist items complete?"
I'm trying to write a tool to mark checklist items as complete. Not sure, but it doesn't seem to be possible with this gem. Am I missing something?

[2016-07-08 16:51] mockdeep commented on #203
I got it to work with a little monkey patch in my application:

[code]

[2016-07-09 06:32] joneslee85 commented on #203
Thanks for reporting with us. As far as I know there is no method in Card to check an item. You could access the item from items attribute and set its state. I think having adding check/uncheck method in Card is a good idea. Would you be able tn submit a PR?

[2016-07-09 20:45] mockdeep opened #204 "Rate Limiting to prevent Trello errors?"
I saw [this issue](https://github.com/jeremytregunna/ruby-trello/issues/178), but had a slightly different suggestion to handle Trello rate limiting. It would be great if the client automatically accounted for [Trello API rate limits](http://help.trello.com/article/838-api-rate-limits) and simply delayed requests as necessary to prevent errors. I use threading to speed up my scripts, but then [I'l

[2016-07-09 20:48] mockdeep commented on #203
@joneslee85 sure, I can come up with something. Does the snippet above look reasonable? Wondering how hard it would be to get the card and checklist ids down to the item so that it can update itself directly instead of having to pass both the checklist and item into the card method.

[2016-07-11 06:59] joneslee85 commented on #203
@mockdeep I think it should be documented and tests are needed too.

There is `source_card_id` and `source_card_properties` in `Card` that you could use to identify checklists and card. Please see https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/card.rb#L108-L112

[2016-07-11 07:06] joneslee85 commented on #204
@mockdeep I don't think `sleep` is the solution because there is no way you could guarantee the delay helps hitting the API within the threshold, just imagine you have huge number of API calls here.

I think it should be handled case by case by the user app.

[2016-07-11 15:25] mockdeep commented on #204
@joneslee85 sorry, I didn't mean to suggest that there should be an arbitrary `sleep`, more just that that's what worked for me in that case. Here I could see doing something a little more sophisticated to keep track of how many requests have been made within a timeframe. Something like:

[code]

[2016-07-11 16:19] mockdeep commented on #204
I could see making this sort of functionality part of an external gem, though. There's an old [throttling](https://github.com/kpumuk/throttling) gem that does something similar. Maybe I'll try to build something, since I've run into this sort of problem a few times.

[2016-07-12 00:12] joneslee85 commented on #204
@mockdeep IMHO I want to keep this gem as simple and as close to the supported API that Trello offer. Feature like this tends to be varied case by case. I 👍 if it is handled by a separate gem. I am happy to feature the link to the gem in README should users look for one.

[2016-07-12 00:32] mockdeep commented on #204
Sounds good. I'll work on something someday when I'm trying to put off doing something else.

[2016-07-12 00:32] #204 closed

[2016-07-23 04:27] joneslee85 commented on #203
@mockdeep ping :D

[2016-07-23 04:28] joneslee85 commented on #202
@brycemcd how are you going with this feature?

[2016-07-23 22:44] mockdeep commented on #203
@joneslee85 pull requested: https://github.com/jeremytregunna/ruby-trello/pull/207.

[2016-07-24 13:41] #203 closed

[2016-07-26 10:45] brycemcd commented on #202
@joneslee85 - I still intend to deliver on this feature but I haven't had a chance to get it complete just yet. I was traveling (in the US) at the time I opened the issue and now I'm traveling again (outside the US) so my schedule has been really disrupted.

Is there a date or a version milestone you'd like to target for this feature?

Right now my plan is to get to it when I'm back in the US in ~

[2016-07-27 06:58] joneslee85 commented on #202
@brycemcd I hope to ship a new version on 31st July. If the feature could be added by then, it would be UBER awesome. Thanks much again, let me know if you need any help.

[2016-07-27 08:24] brycemcd commented on #202
@joneslee85 That's a bit aggressive as I'm still overseas at the moment and a majority of my time this week is wrapped up in my work responsibilities.

That said, I'll attempt to get a PR open in the next couple of days to meet your new version deadline. I can't promise it, but I'll try :)

[2016-08-01 15:33] brycemcd commented on #202
Sorry @joneslee85 I've been going at ~100% while I've been traveling and haven't been able to get this to you. I'm back home now and will aim to get you a PR by Thursday

[2016-08-11 12:50] joneslee85 commented on #175
@hakunin there is a room for a Paginator util class if you are up for the implementation.

[2016-08-11 12:53] joneslee85 commented on #192
@Haziba thanks for the report, so is it because of symbol hash params? I am trying to grasp the context but I could not understand what you were running into.

[2016-08-15 00:52] joneslee85 commented on #152
There has not been any update since. I am closing this ticket. Please feel free to re-open.

[2016-08-15 00:52] #152 closed

[2016-08-15 00:54] joneslee85 commented on #106
Anyone up for this feature?

[2016-08-15 00:55] #202 closed

[2016-08-16 09:31] artempokutnii commented on #152
Hi guys, this problem is still actual.

[2016-08-19 03:11] brycemcd opened #210 "When refresh! is called on a class that inherits from BasicData, it's attributes are not refreshed"
As a developer, I expect `refresh!` to update the caller with the most recent data available from the Trello API. I discovered this not to be the case while working on #208 .

An example:
[code]

It seems that the client calls #get and fetches the new data, but the object is not updated with the most recent data.

[2016-08-25 17:47] DanteAlg commented on #152
I had the same problem when try to create a new card. Solved using list_id instead idList.
`
Trello::Card.create(list_id: 'trello_id', name: 'Teste api', desc: 'Lorem ipsum dollor')
`

[2016-09-09 20:34] hugoerg56 opened #212 "Get the last update on the card from a list."

[2016-09-15 15:28] joshuatobin opened #213 "Copying a card with idCardSource does not copy data"
When trying to copy a card using `Trello::Client` it seems that its not copying data as expected. AFAICT the library defaults to `all` for the [`keepFromSource` attribute](https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/card.rb#L127). Any thoughts would be appreciated.

Here is the repro:

[code]

[2016-09-15 16:15] joshuatobin commented on #213
Sorry for the spam. I was behind one version.

[2016-09-15 16:15] #213 closed

[2016-10-17 21:52] wkoffel opened #214 "Requires ruby 2.2.2?"
When trying to install, I get

[code]

But the README says that the gem works on Ruby 2.1.0 and higher.

Is there a new dependency or a version not locked down here that should be?  Or is this library now 2.2.2+ only?

[2016-10-18 04:38] joneslee85 commented on #214
The lib is >= 2.1.0 as in https://github.com/jeremytregunna/ruby-trello/blob/master/ruby-trello.gemspec#L21

And we do not rely directly on `activesupport`

How do you produce that error?

[2016-10-18 04:40] joneslee85 commented on #212
What does this card mean? Are you suggesting a new feature?

[2016-10-18 04:49] wkoffel commented on #214
So I couldn't figure it out either.  However, I had a few other strange behaviors related to sierra upgrade (I believe), and once I blew away by .rbenv directory entirely, these errors went away.  At this point, I don't believe there's anything broken about the gem (save for a rogue gremlin we're unlikely to track down), so I'll close this.

[2016-10-18 04:49] #214 closed

[2016-11-10 22:41] jeremytregunna opened #217 "Drop 1.9 support?"
Opinions? Currently a problem with addressable 2.5.0 as noted in #216. I'm inclined to drop 1.9 support, anyone out there still using 1.9 and unable to upgrade to 2+?

[2016-11-10 23:05] ownadi commented on #192
I think https://github.com/jeremytregunna/ruby-trello/pull/216 fixes it.

[2016-11-22 21:01] jeremytregunna commented on #217
2 more days left open for this issue and I'll close it and make the change unilaterally if nobody has any objections.

[2017-01-28 05:36] cohki0305 opened #222 "Step 2 is missing in README ?"
Hello

In [README](https://github.com/jeremytregunna/ruby-trello), I could not find step 2 at 'Basic authorization' like followings.

[code]

I confused where is `Step 2`.

Is `Step 3` typo of `Step 2` ?
If yes, fix typo, please.

If no, please fill missing infomation.

Thanks.

[2017-01-28 06:13] cohki0305 opened #223 "What is purpose of each keys?"
Hello

In reading [README](https://github.com/jeremytregunna/ruby-trello), I confused purpose of each keys.
At first, I cannot find what are `TRELLO_CONSUMER_KEY` and `TRELLO_CONSUMER_SECRET` because these keys are not explained on it.

In addition, I thought that the purpose of `TRELLO_DEVELOPER_PUBLIC_KEY` is similar to `TRELLO_CONSUMER_KEY`.
I did not get difference between `TRELLO_OAUTH_TOKEN`

[2017-02-02 11:59] hakunin opened #225 "Breaking change 1.4.1 -> 1.5.x"
there seems to be a breaking change in trello gem going from 1.4 -> 1.5

1.4: card.card_labels -> array of objects
1.5:  card.card_labels -> array of ids

to fix, I am using the `labels` method instead:

1.5: card.labels -> array of objects

[2017-02-03 00:56] joneslee85 commented on #225
@hakunin would you be able to point out the commit that introduced this breaking change? TIA

[2017-02-05 19:13] acuppy commented on #217
@jeremytregunna Will this be a major or minor version bump?

[2017-02-05 21:33] jeremytregunna commented on #217
This would be a major version bump according to semver. Since dropping 1.9 would break anyone still using 1.9. This will be done today.

[2017-02-05 22:49] jeremytregunna commented on #217
This has been done.

[2017-02-05 22:49] #217 closed

[2017-02-06 01:40] joneslee85 commented on #225
Ping @hakunin

[2017-02-06 09:12] hakunin commented on #225
Hey, we're not using the gem anymore. I noticed it when test started to fail upon update and then I learned we're dropping it.

[2017-02-07 01:34] flyingolivier commented on #152
I believe that doing this
[code]

instead of this
[code]

should work

Not very familiar with the gem code, but it looks like that `update_fields(fields)` sets to `nil` any attribute not defined in the received parameters. Here the `list_id` attribute becomes `nil` making the object invalid.

[2017-02-26 23:39] joneslee85 commented on #225
@hakunin the `card_labels` is supposed to return the `idLabels` as you could see in the [spec](https://github.com/jeremytregunna/ruby-trello/blob/master/spec/card_spec.rb#L61).

I believe that in version 1.4, the `card_labels` was mistaken with the `labels` (which is totally different from each other)

[2017-02-26 23:39] #225 closed

[2017-02-26 23:39] #222 closed

[2017-05-09 02:43] uozdemirproq opened #229 "Webhook debugging."
Hi there,

I am able to create a webhook and a get a success message. But I can't really debug if I received any callback from trello because of the platform I use.

So the question is how can I understand if trello send a callback? I implemented a logic to create a record everytime I receive a request to that url. When I create a new webhook, I can see a record created but when I update the card

[2017-05-11 05:39] #229 closed

[2017-05-24 20:16] jeremylinlin commented on #177
Thanks, it helps!

[2017-07-04 16:36] ss44 opened #236 "Prevent Line Escaping?"
Trying to create a card with a description of

`"Hello\n=======\n\nHow are you" `

but the new line characters being escaped so that the card appears just like that without the new lines.

Any work arounds to this?

[2017-07-04 17:14] ss44 commented on #236
looks like I was using "\n" instead of "\n", the later solving my issue.

Closing thread.

[2017-07-04 17:14] #236 closed

[2017-07-06 13:00] #212 closed

[2017-07-06 20:01] iburton commented on #223
I assume you got this figured out by now, but you can read about them here: [Trello API Introduction](https://developers.trello.com/get-started/intro#authentication) or in the [README](https://github.com/jeremytregunna/ruby-trello/blob/master/README.md) page of this project in the Configuration section.

[2017-09-05 15:06] boardfish opened #238 "Due dates are not set for created cards"
I use the following in my Rails 5 app:

[code]

All fields work except for due. I've checked on the serverside that the controller receives the due value in the correct format (originally it was receiving as a TimeWithZone, but to_date puts it in Date format as the method requires). Cards are created at the top of the given list with the correct name and description, but they do not have a due dat

[2017-10-23 11:30] radubogdan commented on #238
Did you fix the problem @boardfish? I can see there is [a spec covering this case](https://github.com/jeremytregunna/ruby-trello/blob/64a44ffe415296a64c660623e7dc8c375e70ab6d/spec/card_spec.rb#L76) which means it should work.

What happens if you try and [update it](https://github.com/jeremytregunna/ruby-trello/blob/64a44ffe415296a64c660623e7dc8c375e70ab6d/lib/trello/card.rb#L171)?

[2017-10-30 15:51] boardfish commented on #238
Sorry for the delay on this - I'm getting a fresh problem with it now that I'm finally able to work on org-mode again.

[2017-11-07 21:13] vasilakisfil commented on #223
@iburton sorry but the links you provided don't help. The documenttion is missing crucial information regarding where to find the keys and what goes where.

[2017-12-12 12:17] Ana06 opened #239 "rest-client-1.8.0 doesn't work with Ruby 2.4.2"
I get the following error wit Ruby Trello 1.5 when using it with Ruby 2.4.2:

[code]

It is coming from rest-client 1.8, so it may be that this is already fixed in newer versions of rest-client and it is enought with changing the [actual restriction >=1.8](https://github.com/jeremytregunna/ruby-trello/blob/master/ruby-trello.gemspec#L27) to >1.8.

[2017-12-22 14:05] 3wille commented on #239
Hey @Ana06, please try to manually upgrade ``rest-client`` to verify that a newer version fixes your issue.
``gem install rest-client -v '1.9'`` or better ``gem install rest-client -v '2.0.2'`` should do this.
If this fixes your issue, you should open a pull request upgrading the version restriction.

[2018-01-18 16:18] komidore64 opened #242 "RubyDoc documentation doesn't match what is available on Rubygems.org"
Documentation on [rubydoc.org](http://www.rubydoc.info/gems/ruby-trello) shows `ruby-trello (1.6.0)` while the newest gem available on [rubygems.org](https://rubygems.org/gems/ruby-trello) is `2.0.0`. RubyGems.org's page points to a `http://www.rubydoc.info/gems/ruby-trello/2.0.0`, but it looks like that doesn't exist.

The documentation has been correct for me so far until I've attempted to call

[2018-02-14 09:38] digitalronin opened #244 "How to get "Email for this card"?"
I'm trying to return the email address for a card I create via the API. i.e. via the web interface, when you open a card and click the "Share and more" link, there's an "Email for this card." If I send an email to that address, it shows up as a comment from me on the card.

Is there a way to find out this email address via the gem?

[2018-02-19 19:34] rpputra opened #245 "Trello webhooks"
Hi, please help, is there any example of how to use trello webhook? how do we setup the database and model to save the trello webhook updates? i'm new in ruby, just finish ruby on rails tutorial by M. Hartl

[2018-03-05 08:05] gretzki opened #246 "Not compatible with Active Model 5.2"
Using ruby-trello 2.0.1 and latest activemodel gem (5.2) fails with the following error:

Locking ActiveModel gem to 4.2.10 solves this issue

[2018-03-06 13:45] spleenteo commented on #238
Hi,
I've a similar problem

[code]
I tryed with DateTime object and string, and the output for the date is always the same: nil

[code]
The card on Trello is created with no due date.

I'm getting lost! :)
Can you help me please? Thanks

[2018-03-24 06:39] funk-yourself opened #247 "Configuration is not thread-safe"
With all these things like
[code]
it's not thread-safe. WDYT about using [dry-configurable](http://dry-rb.org/gems/dry-configurable/)?

[2018-04-18 15:38] cheeley commented on #244
Same here. This option would be a huge help in our workflow.

[2018-04-18 21:37] codyolsen commented on #244
I looked into it.
This was the dead end:
https://stackoverflow.com/a/42517910/2600823

Unfortunately, it looks like Trello doesn't expose the email (always returns nil), even though [it's clearly a documented property in their API docs.](https://developers.trello.com/v1.0/reference#cardsid)

[2018-04-19 14:49] cheeley commented on #244
@codyolsen Great info, thank you. I'll look forward to an update from you!

[2018-04-30 17:53] alex-benoit commented on #238
Just encountered the bug too 👍

[2018-05-07 10:05] psy-q commented on #204
@mockdeep Have you had any success hacking deeper into this? I'm hitting the rate limit a lot as well and will solve it on the client side with a stupid and primitive thing. But since [Trello's rate limits](https://help.trello.com/article/838-api-rate-limits) seem to be hardcoded (?), having a solution in a gem that fits everybody would be much better.

[2018-05-07 19:04] mockdeep commented on #204
@psy-q I've generally resolved this with `sleep` and `retry` logic. Here's a simple `Retryer` class with exponential backoff you could toss in your code:

[code]

Another thing I've done is to manually cache results from Trello to minimize requerying for the same data.

[2018-05-08 19:04] psy-q commented on #204
Ah, brilliant, thank you!

[2018-05-11 14:47] EmCousin commented on #245
Here's an example creating a webhook using ruby-trello, and assign it to a card, which is assigned to a list, itself assigned to a board. It's pretty self-explanatory.
Enjoy

[code]

[2018-05-11 15:44] EmCousin opened #249 "Cannot set label attribute `uses`, which makes it invalid all the time"
Hi,

First of all, thank you for writing this awesome gem.

I'd like to point out an issue that I'm having right now when I want to [add](https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/card.rb#L402) or [remove](https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/card.rb#L411) a label to a card.

# My problem
`label.valid?` returns `false`, because the attribu

[2018-06-08 15:56] fiedl commented on #99
For others landing here via google: In order to get the avatar image url, use:

[code]

[2018-06-14 19:34] anatoliy-larin commented on #249
Hi,

I have this problem too.

Code:

[code]

Output

[code]

Help me, plz )

[2018-06-14 19:40] EmCousin commented on #249
So far I've been removing the validator in question in the Trello initializer:

[code]

It works for me, but I'd seriously like to have a hint from any maintainer of this gem to figure out why this validator exists in the first place.

[2018-06-14 19:45] anatoliy-larin commented on #249
@EmCousin thank you for this "quick hack"! It's pragmatic fix )))

[2018-06-14 20:15] kaylaziegler opened #252 "Travis CI builds cannot complete due to errors."
### To reproduce:
Issue a PR or add a commit. It appears to be happening with every build now. I'm not sure when it began but it first showed up with my PR: https://github.com/jeremytregunna/ruby-trello/pull/250. Then the same exact error happened with the subsequent PR: https://github.com/jeremytregunna/ruby-trello/pull/251.

### Error:
See [Build #582](https://travis-ci.org/jeremytregunna/ruby-t

[2018-07-04 20:05] matheussbernardo opened #253 "Create a complete board from a .json"
Hello,

I have a JSON file that contains info of a board with cards and lists, is it possible to use the gem/api to create a new board from this file with only one call to the api?

the file is https://gist.github.com/matheussbernardo/57edb503de286da9cf1e87221fcf615b

[2018-07-04 20:43] codyolsen commented on #253
@matheussbernardo I don't believe so. You'd have to parse the JSON tree and create separate api calls for creating each element -> [board, list, card, etc]

There might be a better way here: [Trello Data Importing](https://help.trello.com/article/751-importing-data-into-trello)

[2018-07-04 20:46] #253 closed

[2018-07-06 08:56] jeremylinlin commented on #238
Still no solution to this problem yet?

[2018-08-03 18:04] agross opened #255 "How to access custom fields?"
Hi,

Many thanks for creating the library!

My question is around Trello's Custom Fields (the PowerUp). Is there a way to access the Custom Fields data from ruby-trello? I tried `card.plugin_data` for a card with Custom Fields but it yielded an empty array.

Thanks!

[2018-08-03 18:46] kaylaziegler commented on #255
As noted in the description for #250, Trello moved custom fields to its own endpoint and cannot really be access from plugin data anymore. My PR to update this gem is still pending so I just worked around it using HTTParty:

[code]

[2018-08-03 20:42] agross commented on #255
Many thanks!

I found this works, too:

[code]

[2018-08-08 09:56] JrmKrb commented on #249
Fixed by #254 that hopefully will be merged soon

[2018-08-08 14:06] mjankowski commented on #246
I started to dig on this and hit the point where my knowledge of both `ruby-trello` and `ActiveModel` came up short ... this looks connected to how the dirty attributes api/implementation changed in 5.2.

[2018-08-09 17:04] #255 closed

[2018-08-27 18:39] PandaWhisperer commented on #239
Having the same issue. @3wille's solution worked for me.

[2018-09-03 08:39] baldrailers commented on #238
That field is looking for `ISO8601` to pass it properly, you'll have to:
[code]

[2018-09-04 19:42] austinklenk opened #256 "How to Update List"
Im trying to update a list, per instructions supply a hash.
```Trello::List.update_fields({"id" => "appt.trello_list_id"})```

Do I have the hash setup correctly?

[2018-09-05 19:17] codyolsen commented on #252
@kaylaziegler Thanks for the report. After searching the latest build errors I discovered that travis did some updates about 12 days ago. I reran the latest build and it passed.

[2018-09-05 19:17] #252 closed

[2018-09-06 00:11] codyolsen commented on #244
Closing this for now. It's more on the trello-api side of things. Doesn't seem like having that email for a card come through the api is an option for the time being. Using the api rather than the email address is the current preferred method based on the [security concerns addressed in their response.](https://stackoverflow.com/a/42517910/2600823) I can see the use case for having that email acce

[2018-09-06 00:11] #244 closed

[2018-09-06 16:43] codyolsen commented on #223
@vasilakisfil I've added a link to the docs to direct to trello's grant page for more clarity in commit https://github.com/jeremytregunna/ruby-trello/commit/57c6302de9f2f123fa3fc054f42b2cfd3f8e78c4 As for the different tokens, they are simply different methods of authenticating to the api. You don't need all of them, but rather one set for each authentication method. You simply pick one method for

[2018-09-06 16:43] #223 closed

[2018-09-06 16:44] #192 closed

[2018-09-06 16:47] #238 closed

[2018-09-06 16:49] EmCousin commented on #249
Awesome, thanks 👍

[2018-09-06 16:49] #249 closed

[2018-09-06 17:07] codyolsen commented on #242
@komidore64 Good call out. 8 months later I'm seeing some discrepancies from Card.update_fields and the rest of the Model update_fields method implementations. It looks pretty straight forward. Just adding the symbol -> string conversion and making sure the docs are in sync with the changes. I might jump on it later, or if you or someone else would like to submit the PR that would be fine as well.

[2018-09-18 17:14] dadamschi opened #257 "rails.cache nil causes undefined method `fetch' for nil:NilClass"
Not sure what I am missing here. I am trying to run ruby-trello in a rake task using the following (with key and token in place in my code, of course):

`  include Trello
  include Trello::Authorization

  Trello.configure do |config|
    config.developer_public_key = " The key from step 1"
    config.member_token = "The token from step 2"
  end

  dadams = Trello::Member.find("me")`

This fails w

[2018-09-18 21:01] dadamschi commented on #257
I figured this out by changing to an OAuth example.

`require 'trello'
    require 'yaml'
    require 'resolv-robust'

    include Trello
    include Trello::Authorization

    Trello::Authorization.const_set :AuthPolicy, OAuthPolicy

    CONFIG = YAML::load(File.open("config/trello.yml")) unless defined? CONFIG

    credential = OAuthCredential.new CONFIG['public_key'], CONFIG['private_key']

[2018-09-18 21:01] #257 closed

[2018-09-24 17:32] mjankowski commented on #177
This was useful in tracking this down - https://github.com/jeremytregunna/ruby-trello/issues/238

Summary: use iso8601 format when supplying a `due` value.

[2019-02-15 19:40] cblackburn-ajla commented on #204
Not sure when Trello started sending rate-limit stats back in the headers for responses but wouldn't this make it super easy to manage and stay within rate limits? https://developers.trello.com/docs/rate-limits . I'll work on a PR to do use these headers for myself. Hopefully it will be useful to others.

[2019-04-29 16:21] wokenqingtian commented on #246
I have faced this issue recently and done a fix. [PR-261](https://github.com/jeremytregunna/ruby-trello/pull/261)

[2019-05-01 16:17] vizcay opened #262 "API endopoints path must not depend on ActiveSupport pluralization as it breaks with other languages"
I've added ruby-trello on a Rails v4.2 project (had used it without problems in others projects without rails).

To my surprise when I started trying to query anything 404 errors began:

[code]

What quickly got my attention was `Cannot GET /1/**organizationes**/`. Clearly something was odd and after digging at the code I've found this:

[code]

Clearly the path is being pluralized via ActiveSuppo

[2019-05-05 12:36] moeffju opened #263 "More “ruby-like” API?"
Thank you for developing ruby-trello. While building a relatively simple app that synchronizes data between trello and an external source bidirectionally, I’ve run into a number of snags due to documentation being very limited, but also because the API in many cases did not “feel” how I expected it to.

For example, it would be nice if I could just `card.labels << some_label`, or `some_list.add_ca

[2019-05-14 10:19] AnatolySt opened #264 "Trello::Error: invalid token using Trello::Client"
I am using Ruby on Rails 5.2 and gems: ruby-trello, devise, omniauth-trello.
Sorry for my English.

I want to make authorized requests on behalf of Trello user same as shows here: https://github.com/jeremytregunna/ruby-trello#multiple-users

Example from docs:

    @client_bob = Trello::Client.new(
      :consumer_key => YOUR_CONSUMER_KEY,
      :consumer_secret => YOUR_CONSUMER_SECRET,
      :oau

[2019-07-11 04:30] najomar68 opened #265 "uninitialized constant Trello (NameError) even though require 'trello'"
[code]

[2019-07-12 23:23] kristofers91 opened #266 "CustomFieldItem - Cannot assign value using symbol"
Works:
`Trello::CustomFieldItem.new( 'value' => { "text": "new value" })`

Does not work:
`Trello::CustomFieldItem.new( :value => { "text": "new value" })`

The value key is set up like this:
https://github.com/jeremytregunna/ruby-trello/blob/ad79c9d8152ad5395b3b61c43170908f1912bfb2/lib/trello/custom_field_item.rb#L28
The other keys look for symbols:
https://github.com/jeremytregunna/ruby-trello/b

[2019-07-13 00:48] kristofers91 commented on #266
Actually saving doesn't work.

https://github.com/jeremytregunna/ruby-trello/blob/ad79c9d8152ad5395b3b61c43170908f1912bfb2/lib/trello/custom_field_item.rb#L51-L53

There doesn't seem to be any POST route for CustomFieldItems. Replacing it with PUT fixes the issue.
https://developers.trello.com/reference/#customfielditemsid

[2019-07-23 22:59] dougcouvillion commented on #246
I'm having this issue too.  Any idea when @wokenqingtian 's PR might get merged?

[2019-11-08 23:55] Christm4s commented on #264
Click this link (https://trello.com/app-key) to find your app key. In the paragraph right below the app key, there's a hyperlink to generate your token. Click authorize on the next page after you click the hyperlink to get your token.

[2019-11-15 02:02] srgoldman commented on #246
Verified the PR fixes the issue for me as well. Can we please get it merged? @jeremytregunna ?

[2019-11-15 06:46] jeremytregunna commented on #246
@srgoldman yes, apologies for not having payed a ton of attention to this.

[2019-11-15 06:52] jeremytregunna commented on #246
I've also cut version 2.2.0 and published the gem.

[2019-11-15 16:51] srgoldman commented on #246
awesome, thanks!

[2019-11-22 01:04] #246 closed

[2019-12-19 13:37] cavemangraham opened #272 "Unable to update card"
I have the following code:

[code]
The card is created with no problems with the correct attributes but I am unable to make any updates to it after that.

I have tried using .save as well as .update! and my update actions comes back with a "<RestClient::Response 200 "{\"id\":\"5dfb...">" response but the card itself on Trello does not change.

I have updated the ruby-trello gem to 2.2.0 and am on

[2020-01-21 09:43] hilli commented on #239
Setting this before calling `rest-client` solved this for me without upgrading. That is, setting the ciper and forcing TLS1.2, which is obviously needed for security.

[code]

[2020-01-23 11:49] cedrics opened #274 "`to_a` and `to_ary` do not return Arrays"
I wanted to do something like `board.lists.flat_map(&:cards)`, however this will raise an exception:

[code]

This is due to `to_a` being defined in a wrong manner:

[code]

This is the same issue as https://github.com/jeremytregunna/ruby-trello/issues/160.

[2020-02-24 23:17] panozzaj opened #275 "Support or documentation for custom field values"
Hi, I was trying to see in the library if there's a way to query a list for cards, and include custom field types. For example, I'm following the instructions at https://developers.trello.com/reference#section-nested-cards-as-query-params and would like to pass `customFieldItems=true` in the query params. When I search the codebase for `customField` I don't see anything that seems to do this thoug

[2020-03-10 00:13] #239 closed

[2020-03-10 00:18] wokenqingtian commented on #265
I can't reproduce it. It seems works fine.

[2020-03-10 00:18] #265 closed

[2020-03-10 01:21] #171 closed

[2020-03-10 01:25] #264 closed

[2020-03-10 01:34] #272 closed

[2020-03-10 01:35] wokenqingtian commented on #272
This issue has been fixed in https://github.com/jeremytregunna/ruby-trello/pull/273

[2020-03-11 15:14] wokenqingtian commented on #274
I have fixed it.

[2020-03-11 15:14] #274 closed

[2020-03-12 01:24] #266 closed

[2020-03-12 11:30] cedrics commented on #274
Thank you @wokenqingtian ❤️

[2020-03-31 21:22] rodrigo-puente opened #280 "Permission bits for '/home/user/.netrc' should be 0600, but are 644"
I'm trying to get the members of an organization:

[code]

But I get
[code]

Should I just `chmod` the file or is something weird happening here?

[2020-04-01 01:18] wokenqingtian commented on #280
Trello gem use [rest-client](https://github.com/rest-client/rest-client) to make the request. And this seems is [an issue](https://github.com/rest-client/rest-client/issues/663) belongs to rest-client.

As my point of view, you can just do what the error message says - `chmod` the file to 0600

[2020-04-01 01:25] #280 closed

[2020-04-16 02:19] wokenqingtian opened #284 "CVE-2020-10663 in json"
[Security issue from Hakiri](https://hakiri.io/projects/07b1bf60f4aecf/stacks/528b21b5c5d46d/builds/3dcf0296b9ef17/warnings/0351425c71bcd5): There is an unsafe object creation vulnerability in the json gem bundled with Ruby. This vulnerability has been assigned the CVE identifier CVE-2020-10663. We strongly recommend upgrading the json gem. Details ------- When parsing certain JSON documents, the

[2020-04-16 13:45] #284 closed

[2020-04-23 16:24] wokenqingtian opened #286 "Keep support JRuby and Rubinius or not?"
Our CI doesn't test for JRuby and Rubinius. But I found these codes in our project:

[code]

[code]

Should we keep supporting them? If the answer is yes, it seems we need to add CI tests for them. If the answer is no, I may prepare to remove them.

[2020-04-24 17:02] runlevel5 commented on #286
I reckon we should support JRuby as it is still being worked on by the community.

[2020-05-02 07:27] jeremytregunna commented on #286
Yes we should keep JRuby support, I'll continue this in #287

[2020-05-02 07:27] #286 closed

[2020-05-04 17:47] gabrielc63 opened #288 "Can't update board description"
`board.description = "test"`
`board.update!`

The update method is not working, the code I think should update **desc** attribute and not use description as a key:

[code]

[2020-05-17 14:51] #288 closed

[2020-05-17 20:55] saiqulhaq commented on #247
I think it's ok for instance variable
to memoize the configuration obj

[2020-07-19 19:19] jeremytregunna opened #292 "Pushing updates to rubygems by others"
Right now, I'm the only one who can push changes to the gem. I'd like to allow some contributors to this repository to be able to push changes to push a release out. Anyone have any thoughts on a good secure way to accommodate this? My main thought is GitHub Actions. I feel like I am not available frequent enough to be the only one who can push bug fixes out to rubygems.

[2020-07-20 21:43] wokenqingtian commented on #292
I would like to do some research on this next month

[2020-07-28 13:56] wokenqingtian commented on #292
After some research, I found the old release way maybe is still a better way to release Ruby gem for an opensource project.

### We cannot do permission management on a specific user on Github

All collaborators can:

- create and edit releases
- Publish packages

### Seems not much popular ruby repos use it for release

I didn't find any popular ruby gems which are using GitHub Action for release

[2020-07-28 15:06] jeremytregunna commented on #292
@wokenqingtian Thanks for this, I think the best way to approach this is to see if you and @runlevel5 are both interested in being able to push to rubygems, ruby-trello updates. You are the two people I had in mind. I'd like both your feedback, and the owner approach is what I'll probably settle on.

[2020-07-28 15:31] runlevel5 commented on #292
@jeremytregunna I am happy to help

[2020-07-28 16:17] jeremytregunna commented on #292
@runlevel5 Alright, shoot me an email jeremy@tregunna.ca with your email

[2020-07-29 05:15] wokenqingtian commented on #292
@jeremytregunna I would like to do this with @runlevel5. Also, emailed you.

[2020-07-29 12:03] jeremytregunna commented on #292
@wokenqingtian Thanks, just waiting on @runlevel5's email to add as well, but you were just added.

[2020-08-01 22:04] jeremytregunna commented on #292
I'm going to close this issue for now, please @runlevel5 let me know via email the address you use on rubygems, and I'll add you. No sense in keeping this issue open right now though.

[2020-08-01 22:04] #292 closed

[2020-08-16 12:51] keithpitty opened #294 "Finding boards via Trello::Client"
I'm trying to make sense of the documentation for [multiple users](https://github.com/jeremytregunna/ruby-trello#multiple-users).

For example, it includes:

[code]

If I've created `@client_bob` as an instance of `Trello::Client` with an `oauth_token` and `oauth_token_secret`, first of all I'm surprised that there isn't a `boards` method that I can use via `Trello::Client`. Even so, in the exampl

[2020-08-16 13:48] keithpitty commented on #294
So I now see that I need to do the following to get many boards:

[code]

It took me a bit of figuring out. Now I'm thinking that the documentation could use some improvement. However, it's late here. I'll submit a PR when I get a chance.

[2020-08-16 14:02] wokenqingtian commented on #294
Yes, you are right. The documentation needs some improvement. I will spend some times on it in future. Also, welcome to submit a PR.

[2020-09-02 06:21] ShunnMatsumura opened #295 "Due dates are not set for created cards"
I ran it with the following script in reference to [#238](https://github.com/jeremytregunna/ruby-trello/issues/238), but it gives me invalid error.
Someone please help me.

The time zone is 'Asia/Tokyo' in my dev env, so I converted it to UTC and then posted it, but I got an error.

[code]

I've also tried the following with no success.

[code]

please help me.

[2020-09-02 13:25] wokenqingtian commented on #295
I just try this on my side but failed to reproduce it. It works fine on my side. It seems that I need more details about your local development environment like the Ruby version, the Rails version ...

Maybe you can also try the Trello official time format `time.strftime('%FT%T.%LZ')` which we will use it in the next major version.

[2020-11-05 18:02] BuonOmo opened #296 "Ability to move lists between boards"
Hi,

Thanks for the great gem!

I used it for the first time in [this gist](https://gist.github.com/BuonOmo/1f994280fb71392c0a4b00c67bad0436). And I needed to move lists between boards. There is [a PUT request for that](https://developer.atlassian.com/cloud/trello/rest/api-group-lists/#api-lists-id-idboard-put), hence I've monkey patched the gem:

[code]

I could contribute and add this feature if

[2020-11-05 20:51] jeremytregunna commented on #296
Absolutely, open a pull request. I'm not available to fix the CLA at the moment but I will as soon as possible. Just need you to acknowledge that your contribution will be licensed the we as the gem.

\-------- Original Message --------
On Nov. 5, 2020, 12:02 p.m., Ulysse Buonomo < notifications@github.com> wrote:

[this gist]: https://gist.github.com/BuonOmo/1f994280fb71392c0a4b00c67bad0436
[a PU

[2020-11-05 23:15] BuonOmo commented on #296
MIT looks good to me :)

[2020-11-06 03:25] #296 closed

[2020-12-30 16:29] kwent commented on #294
Thanks @keithpitty. Saving me some time here !

[2021-04-12 16:18] exAspArk commented on #102
I think this issue can be closed? I was able to create a webhook with the latest gem version by using:

[code]

Note that `id_model` was renamed to `model_id` in this commit https://github.com/jeremytregunna/ruby-trello/commit/919028c614e11da20fda37f560ba24975605c87c starting with v3.0.0

[2021-04-13 03:26] hoppergee commented on #102
@exAspArk You're right. This issue does not exist any more.

[2021-04-13 03:26] #102 closed

[2021-04-21 11:13] Flip437 commented on #185
Hi,

Can someone tell me how to deals with Trello::Error ?
I'd love to get the error code to do some request tests but when I try to create a card with bad request, I have
Trello::Error: invalid value for idList.

I do on purpose Trello::Card.create(name: "GOOD_NAME", list_id: "List ID that doesn't exists")
So I expect the response to have 400 status, so the test succed.
But now, the test crashes

[2021-04-21 14:40] hoppergee commented on #185
Hi @Flip437

You can get the response status and message through `rescue`:

[code]

This may not be the way you're used to. But it is by design. I may try to change it to an intuitive way in future. For now, you have to do it with `rescue`.

References:

https://github.com/jeremytregunna/ruby-trello/blob/335f6aab7c9cf60f4ff6f70c894ba2aae87ec9fa/lib/trello/client.rb#L92-L100

https://github.com/jer

[2021-04-24 11:21] Flip437 commented on #185
Hi @hoppergee

thank you for the answer!
Yes, I've found the way to do in another API Gem doc that works pretty much the same ^^
Thanks a lot :)

flip.

[2021-11-21 18:15] metalelf0 opened #301 "The comments API is broken ATM (`undefined local variable or method action_id`)"
Right now the comments API fails, cause the Trello API response returns no `action_id` field. I assume it did some time ago, but it doesn't anymore.

It does return an `id` field though, so the following monkey patch works:

[code]

Fixing this in your code should be as straightforward as changing `action_id` to `id`.

[2022-02-08 11:27] daverees4 opened #303 "Not possible to create card with label"
Thanks for the great library!  Everything is working fine, except I ran into trouble creating a card with a label.

For example this doesn't work for me - the card with the title is created but no label added:

[code]

I can get the label to add after the card has been created:

`card.add_label(label).save`

[2022-02-08 13:04] hoppergee commented on #303
The `labels` attribute is [a read-only attribute](https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/card.rb#L53) due to Trello API.

You can use [`card_labels`](https://github.com/jeremytregunna/ruby-trello/blob/master/lib/trello/card.rb#L65) which needs to assign label IDs on it.

[2022-02-08 13:07] #295 closed

[2022-02-08 19:24] daverees4 commented on #303
Ah, my mistake sorry.

Can confirm working fine with card_labels.

On Tue, 8 Feb 2022, 13:04 Hopper Gee, ***@***.***> wrote:

[2022-02-08 19:26] #303 closed

[2022-02-11 06:37] #301 closed

[2022-07-05 09:00] breiko83 opened #309 "Setup integration test"
Hello -
I'd like to submit a pull request but I'm struggling with running tests.

I followed the instructions on integration_test.rb but at point 3 I get "To access this board, contact a Workspace admin."

[code]

My .env file looks like this:
DEVELOPER_PUBLIC_KEY=***
DEVELOPER_SECRET=****
MEMBER_TOKEN=****